.header {
  place-self: center;
  background-image: linear-gradient(to top right, #f8dc6c 50%, #f7efaa95);
  height: 45vh;
  margin-top: 10%;
  border: 1px solid white;
  width: 400px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(97, 96, 96, 0.449);
}

.header:hover {
  transform: scale(1.1);
}

.em {
  margin-right: 210px;
  font-size: 17px;
}

.pwd {
  margin-right: 180px;
  margin-top: 30px;
  font-size: 17px;
}

.login {
  margin-top: 30px;
}

input[type="email"] {
  width: 250px;
  height: 35px;
  border-radius: 6px;

  /* box-shadow: 1px 3px 20px grey; */
  padding-left: 65px;

}

input[type="password"] {
  width: 250px;
  height: 35px;
  border-radius: 6px;
  /* box-shadow: 1px 3px 20px grey; */
  padding-left: 65px;

}

input[type="text"] {
  width: 250px;
  height: 35px;
  border-radius: 6px;

  /* box-shadow: 1px 3px 20px grey; */
  padding-left: 65px;

}



button {
  margin-top: 30px;
  width: 150px;
  height: 32px;
  border-radius: 6px;
  background-image: linear-gradient(to top right, #f7efaa95);
  border: none;
}

/* home */

.search {
  margin-left: 42%;
  margin-top: 10px;
}

.leftaw {
  font-size: 35px;
  margin-top: 20px;
  margin-left: 2%;
  background-color: #f4cb28a3;
  color: rgba(11, 11, 11, 0.797);
  border-radius: 20px;
}


/* .rightarrow
{
  font-size: 32px;
  margin-top:10px;
  margin-left: 40px;
  background-color:	#f4cb28a3;
  color: rgba(109, 109, 107, 0.797);
  border-radius: 20px;
  margin-left: 90%;
} */

.searchicon {
  position: absolute;
  left: 42%;
  margin-top: 18px;
  margin-left: 7px;
  font-size: 20px;
  color: rgba(128, 128, 128, 0.93);
}

.btn1 {
  width: 200px;
  margin-left: 400px;

}

.btn2 {
  width: 200px;
}

.info {
  margin-left: 500px;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.close {
  outline: none;
}

.bgclr {
  background-color: #f7efaa;
  width: 93%;
  cursor: pointer;
}

.bgclrempd {
  background-color: #f7efaa;
  width: 40%;
  cursor: pointer;
  margin-left: 31%;

}

.rightarw {

  font-size: 25px;
  cursor: pointer;
  margin-left: 8vw;

}

.firstletter {
  background-Color: #ffbf00a5;
  color: black;
  border-radius: 50%;
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 17px;
  margin-right: 15px;
  flex-shrink: 0;
}

.firstletters {
  background-Color: #ffbf00a5;
  color: black;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
  margin-right: 15px;
  margin-left: 47%;
}

/* attendance */

.atnbgclr {
  background-color: antiquewhite;
  height: 50px;
  border-radius: 10px;
}

.bgclratn {
  background-color: #fffffe;
  width: 40%;
  cursor: pointer;
  margin-left: 31%;

}

.checkout {
  margin-left: 31%;
}

.checkin {
  margin-left: 10%;
}



